<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-4.0.xsd">

    <context:component-scan base-package="com.example.service"/>

    <aop:config>
        <aop:aspect id="log" ref="myLogger">

            <!-- Spring AOP advises -->
            <aop:pointcut id="createString"
                          expression="execution(public * com.example.oldApp..*(..))
                          || execution(public * com.example.service..*(..))"/>
            <aop:before pointcut-ref="createString" method="init" />
            <aop:after-returning pointcut-ref="createString" returning="object" method="printResult"/>
            <aop:after pointcut-ref="createString" method="close" />

            <!--<aop:pointcut id="allPublic"
                          expression="execution(public * com.example.service.*Impl.*(..))"/>
            <aop:around method="close" pointcut-ref="allPublic" />-->

        </aop:aspect>
    </aop:config>

</beans>